@charset "ISO-8859-1";

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	
}

form{
	margin-top: -20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 50px;
	
	
	
}

form .inputs{
	margin-bottom: 8px;
	padding: 16px;
	height: 10px;
	width: 300px;
} 

form .contenedor{
	
	display:flex;
	flex-direction:column;
	width: 25%;

	
}

form .contenedor2{
	
	margin-left: 10px;
	display:flex;
	flex-direction: column;
	
	
}

 h1{
 	margin-bottom: .20px;
 	margin-top: 20px;
	text-align: center;
	font-size: 50px;
}

form .contenedor .label{
	font-size: 18px;
	font-weight: bold;
	
}

form .contenedor2 .label{
	font-size: 18px;
	font-weight: bold;
	
}




form .img{
	margin-top: -20px;
}

.boton{
	margin-top: 300px;
	margin-left: -470px;
	
	text-align: center;
	height: 40px;
	background-color: #54B9FF;
	font-size: 17px;
	border: 1px solid #21ADCA;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    width: 300px;
    
}


.boton:hover {
    background-color: #0C8CA6; 
    color: white;
}